<aside class="aside" role="complementary">
  <h2 class="aside__title">3 reasons to purchase</h2>
  <div class="aside__container">
    <article class="aside__container__article">
      <h3 class="aside__container__article__title">Ut sed metus</h3>
      <p class="aside__container__article__paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="aside__container__article">
      <h3 class="aside__container__article__title">Curabitur ac erat</h3>
      <p class="aside__container__article__paragraph">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="aside__container__article">
      <h3 class="aside__container__article__title">Morbi dictum</h3>
      <p class="aside__container__article__paragraph">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <button class="aside__button">
    <a class="aside__button__link" href="#mainsection" title="GoMain">
      <div>more reasons</div>
    </a>
  </button>
</aside>
