<footer class="footer">
  <button class="footer__ico">
    <a href="#mainsection" title="GoMain">
      <img class="footer__ico__img" src="./assets/images/ico-arrow.svg" alt="up arrow" />
    </a>
  </button>

  <nav class="footer__nav1">
    <ul class="footer__nav1__ul">
      <li class="footer__nav1__ul__li">
        <a class="footer__nav1__ul__li__link" href="#mainsection" title="Articles"> articles</a>
      </li>
      <li class="footer__nav1__ul__li">
        <a class="footer__nav1__ul__li__link" href="#mainsection" title="Books"> books</a>
      </li>
      <li class="footer__nav1__ul__li">
        <a class="footer__nav1__ul__li__link" href="#mainsection" title="Events"> events</a>
      </li>
      <li class="footer__nav1__ul__li">
        <a class="footer__nav1__ul__li__link" href="#mainsection" title="Reasons"> reasons</a>
      </li>
      <li class="footer__nav1__ul__li">
        <a class="footer__nav1__ul__li__link" href="#mainsection" title="Tips"> tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul class="footer__nav2__ul">
      <li class="footer__nav2__ul__li">
        <a class="footer__nav2__ul__li__link" href="#mainsection" title="Twitter"> twitter</a>
      </li>
      <li class="footer__nav2__ul__li">
        <a class="footer__nav2__ul__li__link" href="#mainsection" title="Instagram"> instagram</a>
      </li>
      <li class="footer__nav2__ul__li">
        <a class="footer__nav2__ul__li__link" href="#mainsection" title="Instagram"> mastodon.social</a>
      </li>
    </ul>
  </nav>
  <p class="footer__paragraph">©2017</p>
  <p class="footer__paragraph2">we ❤︎ components</p>
</footer>
