<footer class="footer">
  <a class="footer__ico" href="#header" title="GoHeader">
    <img class="footer__ico__img" src="./assets/images/ico-arrow.svg" alt="up arrow" />
  </a>

  <div class="footer__container">
    <nav class="footer__container__nav1">
      <ul class="footer__container__nav1__ul">
        <li class="footer__container__nav1__ul__li">
          <a class="footer__container__nav1__ul__li__link" href="#mainsection" title="Articles"> articles</a>
        </li>
        <li class="footer__container__nav1__ul__li">
          <a class="footer__container__nav1__ul__li__link" href="#mainsection" title="Books"> books</a>
        </li>
        <li class="footer__container__nav1__ul__li">
          <a class="footer__container__nav1__ul__li__link" href="#mainsection" title="Events"> events</a>
        </li>
        <li class="footer__container__nav1__ul__li">
          <a class="footer__container__nav1__ul__li__link" href="#mainsection" title="Reasons"> reasons</a>
        </li>
        <li class="footer__container__nav1__ul__li">
          <a class="footer__container__nav1__ul__li__link" href="#mainsection" title="Tips"> tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__container__nav2">
      <ul class="footer__container__nav2__ul">
        <li class="footer__container__nav2__ul__li">
          <a class="footer__container__nav2__ul__li__link" href="#mainsection" title="Twitter"> twitter</a>
        </li>
        <li class="footer__container__nav2__ul__li">
          <a class="footer__container__nav2__ul__li__link" href="#mainsection" title="Instagram"> instagram</a>
        </li>
        <li class="footer__container__nav2__ul__li">
          <a class="footer__container__nav2__ul__li__link" href="#mainsection" title="Instagram"> mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="footer__container__paragraph">
      <p class="footer__container__paragraph__copy">©2017</p>
      <p class="footer__container__paragraph__heart">we <span class="footer__container__paragraph__heart__color">❤︎</span> components</p>
    </div>
  </div>
</footer>
