<footer class="footer">
  <div class="footer__ico">
    <img class="footer__ico__img" src="./assets/images/ico-arrow.svg" alt="" />
  </div>
  <nav class="footer__nav1">
    <ul class="footer__nav1__ul">
      <li class="footer__nav1__ul__li">Articles</li>
      <li class="footer__nav1__ul__li">Books</li>
      <li class="footer__nav1__ul__li">Events</li>
      <li class="footer__nav1__ul__li">Reasons</li>
      <li class="footer__nav1__ul__li">Tips</li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul class="footer__nav2__ul">
      <li class="footer__nav2__ul__li">Twitter</li>
      <li class="footer__nav2__ul__li">Instagram</li>
      <li class="footer__nav2__ul__li">Mastodon.social</li>
    </ul>
  </nav>
  <p class="footer__paragraph">©2017 we ❤︎ components</p>
</footer>
