<header class="header" role="banner">
  <a class="anchor__header" id="header"></a>
  <div class="header__ico">
    <img class="header__ico__img" src="./assets/images/ico-menu.svg" alt="burger icon" />
  </div>

  <section class="header__hero">
    <h1 class="header__hero__title">
      anonymous proxy
    </h1>
    <p class="header__hero__paragraph">In hac habitasse platea dictumst.</p>

    <button class="header__hero__button">
      <a class="header__hero__button__link" href="#aside" title="GoAside">
        <img class="header__hero__button__img" src="./assets/images/ico-scroll-down.svg" alt="down arrow" />
      </a>
    </button>
  </section>
</header>
