.aside {
  // border: 5px solid fuchsia;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: $background-color;

  &__title {
    font-size: $font-size-title;
    text-transform: $transform-cap;
    justify-self: center;
    padding: 30px 15px 30px 15px;
    font-family: $second-font-family;
    font-weight: $font-weight;
  }
  &__container {
    display: grid;
    grid-template-rows: auto auto auto;

    &__article {
      justify-self: center;
      text-align: center;
      padding: 0 70px 0 70px;

      &__title {
        font-size: 18px;
        font-family: $second-font-family;
        font-weight: $font-weight;
        padding-top: 45px;
        padding-bottom: 10px;
      }
      &__paragraph {
        font-size: 18px;
        width: 180px;
        height: 63px;
      }
    }
  }
  &__button {
    font-size: 20px;
    width: 184px;
    height: 45px;
    background-color: $color-button;
    border-radius: 45px;
    margin-bottom: 45px;
    margin-top: 60px;

    justify-self: center;

    &__link {
      text-decoration: none;
      color: $color-light;
      text-transform: $transform-cap;
    }
  }
}
