.footer {
  // border: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: start;
  width: 100%;
  height: 465px;
  background-color: $second-background-color;

  &__ico {
    background-color: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transform: translateY(-50%);
    align-self: center;
    border: 2px solid white;
  }
  &__nav1 {
    align-self: center;
    // margin-top: 60px;
    &__ul {
      &__li {
        list-style-type: none;
        text-align: center;
        padding-top: 15px;

        &__link {
          text-decoration: none;
          text-transform: $transform-up;
          color: $color-light;
        }
      }
    }
  }
  &__nav2 {
    align-self: center;
    margin-top: 60px;
    &__ul {
      &__li {
        list-style-type: none;
        text-align: center;
        padding-top: 15px;

        &__link {
          text-decoration: none;
          text-transform: $transform-up;
          color: $color-light;
        }
      }
    }
  }
  &__paragraph {
    text-align: center;
    color: $color-light;
    padding-top: 20px;
  }
  &__paragraph2 {
    text-align: center;
    color: $color-light;
    padding-bottom: 45px;
  }
}
