.footer {
  width: 100%;
  height: 465px;
  background-color: $second-background-color;

  @media all and (min-width: 768px) and (max-width: 1200px) {
    height: 240px;
  }
  @media all and (min-width: 1200px) {
    height: 240px;
  }

  &__ico {
    display: block;
    border-radius: 50%;
    background-color: $color-light;
    width: 29px;
    height: 31px;
    padding: 9px 2px 0 11px;
    transform: translateY(-50%);
    border: 2px solid white;
    margin: 0 auto;
    animation-name: button;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) and (max-width: 1200px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding-right: 39px;
      padding-left: 39px;
    }
    @media all and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding-right: 370px;
      padding-left: 370px;
    }
    &__nav1 {
      align-self: center;

      @media all and (min-width: 768px) and (max-width: 1200px) {
        align-self: flex-start;
      }

      &__ul {
        &__li {
          list-style-type: none;
          text-align: center;
          padding-top: 15px;
          @media all and (min-width: 768px) and (max-width: 1200px) {
            text-align: left;
          }

          &__link {
            text-decoration: none;
            text-transform: $transform-up;
            color: $color-light;
            &:hover {
              color: $color-button;
            }
          }
        }
      }
    }
    &__nav2 {
      align-self: center;
      margin-top: 60px;
      @media all and (min-width: 768px) and (max-width: 1200px) {
        align-self: flex-start;
        margin-top: 0px;
      }
      @media all and (min-width: 1200px) {
        margin-top: 0px;
        align-self: flex-start;
      }
      &__ul {
        &__li {
          list-style-type: none;
          text-align: center;
          padding-top: 15px;
          @media all and (min-width: 768px) and (max-width: 1200px) {
            text-align: left;
          }
          @media all and (min-width: 1200px) {
            text-align: left;
          }

          &__link {
            text-decoration: none;
            text-transform: $transform-up;
            color: $color-light;
            &:hover {
              color: $color-button;
            }
          }
        }
      }
    }
    &__paragraph {
      @media all and (min-width: 768px) and (max-width: 1200px) {
        order: -1;
      }
      @media all and (min-width: 1200px) {
        order: -1;
      }
      &__copy {
        text-align: center;
        color: $color-light;
        padding-top: 20px;
        @media all and (min-width: 768px) and (max-width: 1200px) {
          text-align: left;
          font-size: 14px;
        }
        @media all and (min-width: 1200px) {
          text-align: left;
        }
      }
      &__heart {
        text-align: center;
        color: $color-light;
        padding-bottom: 45px;
        &__color {
          color: $color-button;
        }
        @media all and (min-width: 768px) and (max-width: 1200px) {
          text-align: left;
          font-size: 14px;
        }
        @media all and (min-width: 1200px) {
          text-align: left;
        }
      }
    }
  }
}
@keyframes button {
  from {
    opacity: 0;
    transform: scale(0) rotate (120deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
