.header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &__ico {
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;

    &__img {
      align-self: center;
      width: 16px;
      height: 14px;
    }
  }
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 53px;

    &__title {
      color: $color-light;
      font-size: 42px;
      font-family: $second-font-family;
      font-weight: $font-weight;
      text-transform: $transform-up;
      text-align: center;
      padding: 0 15px;
      @media all and (min-width: 768px) and (max-width: 1200px) {
        font-size: 80px;
      }
      @media all and (min-width: 1200px) {
        font-size: 100px;
        width: 730px;
        height: 264px;
      }
    }
    &__paragraph {
      color: $color-light;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 45px;
      @media all and (min-width: 768px) and (max-width: 1200px) {
        font-size: 24px;
      }
    }
    &__button {
      border-radius: 50%;
      background-color: $color-light;
      border: 2px solid white;
      width: 23px;
      height: 30px;
      padding: 11px 7px 0px 11px;
      &__link {
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
}
