.header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__ico {
    // border: 5px solid black;
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    display: flex;
    justify-content: center;
    position: fixed;
    transform: translate(-165px, -310px);
    // transform: translate(-500px, -282px);
    &__img {
      align-self: center;
      width: 16px;
      height: 14px;
    }
  }
  &__hero {
    // border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 53px;

    &__title {
      color: white;
      font-size: 42px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 0 15px;
    }
    &__paragraph {
      color: white;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 45px;
    }
    &__button {
      border-radius: 50%;

      &__img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
