.main {
  // border: 5px solid green;
  margin-left: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  &__paragraph {
    color: #8ccbea;
    text-transform: capitalize;
    font-size: 14px;
  }
  &__title {
    text-transform: capitalize;
    font-size: 24px;
    width: 70%;
    padding-bottom: 15px;
  }
  &__paragraph2 {
    font-size: 18px;
    color: #4a4a4a;
    padding-bottom: 30px;
  }
  &__button {
    font-size: 20px;
    width: 76px;
    height: 45px;
    background-color: white;
    border: 2px solid #f26002;
    border-radius: 45px;

    &__link {
      text-decoration: none;
      color: #f26002;
      text-transform: capitalize;
    }
  }
}
