.main {
  // border: 5px solid green;
  margin-left: 15px;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  &__paragraph {
    color: #8ccbea;
    text-transform: $transform-cap;
    font-size: 14px;
  }
  &__title {
    text-transform: $transform-cap;
    font-size: $font-size-title;
    font-family: $second-font-family;
    font-weight: $font-weight;
    width: 70%;
    padding-bottom: 15px;
  }
  &__paragraph2 {
    font-size: 18px;
    color: #4a4a4a;
    padding-bottom: 30px;
  }
  &__button {
    font-size: 20px;
    width: 76px;
    height: 45px;
    background-color: $color-light;
    border: 2px solid #f26002;
    border-radius: 45px;
    font-weight: $second-font-weight;

    &__link {
      text-decoration: none;
      color: $color-button;
      text-transform: $transform-cap;
    }
  }
}
