$font-family: "Roboto", sans-serif;
$second-font-family: "Roboto Slab", serif;
$font-size-title: 24px;
$font-weight: bold;
$transform-up: uppercase;
$transform-cap: capitalize;
$color-light: #ffffff;
$color-button: #f26002;
$background-color: #eff9ff;
$second-background-color: #304268;
